<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<html>
    <head>
        <meta name="author" content="<%= user %>">
        <meta name="description" content="<%= message %>">
        <title><%= user %> @ Kutatku</title>
    </head>

    <body>
        <h1><%= user %></h1>
        <h2><%= message %></h2>
        <img src="https://s3.us-east-2.amazonaws.com/kutatku/post_images/<%= picture %>">
    </body>
</html>